.aiChat {
	height: 100vh;
	color: #fff;
	background: url('../../../public/chatBg.png') no-repeat top/cover;
	position: relative;
	z-index: 1;
	background-attachment: fixed;

	.container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center; /* Центрируем контент по горизонтали */
	}

	.titleWrapper {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.title {
		font-size: 80px;
		font-weight: 700;
		line-height: 1em;
		text-align: center;
	}

	.subtitle {
		font-size: 40px;
		font-weight: 400;
		line-height: 1.3em;
		text-align: center;
	}

	.chatWrapper {
		position: relative;
		width: 100%;
		max-width: 1000px;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 30px;

		// --- СТИЛИ GLASSMORPHISM ДЛЯ РАБОТЫ BLUR ---

		// 1. Полупрозрачный фон (чтобы можно было размывать)
		background: transparent;

		// 2. Размытие фона
		// backdrop-filter: blur(50px);
		// -webkit-backdrop-filter: blur(50px);
		// filter: blur(10px);

		// filter: blur(50px);
		// 3. Тонкие светлые границы (эффект блика)
		// border: 1px solid rgba(255, 255, 255, 0.15);
		// border-top: 1px solid rgba(255, 255, 255, 0.4);
		// border-left: 1px solid rgba(255, 255, 255, 0.4);

		border-radius: 30px;

		// box-shadow: 0 40px 80px rgba(0, 0, 0, 0.8);
	}

	.blur {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		backdrop-filter: blur(50px);
		z-index: -1;
		border-radius: 30px;
	}

	.chatWindow {
		width: 60%;
		margin: 0 auto;
		height: 90%;
		padding: 10px;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.aiMsg,
	.userMsg {
		max-width: 75%;
		padding: 12px 20px;
		line-height: 1.4;
		color: #fff;
		background-color: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(10px);
		border: 1px solid rgba(255, 255, 255, 0.2);
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	}

	.aiMsg {
		margin-right: auto;
		border-radius: 30px;
		background-color: rgba(100, 181, 246, 0.15);
	}

	.userMsg {
		margin-left: auto;
		border-radius: 30px;

		background-color: rgba(238, 238, 238, 0.15);
	}

	.inputWrapper {
		margin: 0;
		width: 60%;
		max-width: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
		height: 60px;
		margin: 0 auto;
	}

	.input {
		height: 100%;
		width: 100%;
		max-width: none;
		padding: 10px 20px;
		color: #fff;
		background-color: rgba(255, 255, 255, 0.822);
		border-radius: 30px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		font-size: 19px;
	}

	.btn {
		flex-shrink: 0;
		height: 100%;
		width: 60px;
		color: #fff;
		background-color: rgba(255, 255, 255, 0.822);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 30px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: rgba(255, 255, 255, 0.25);
		}
	}
}
