:root {
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.3em;
	color: #202020;
	background-color: #fff;
}

body {
	display: flex;
	flex-direction: column;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1430px;
}
