* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button {
	border: none;
	outline: none;
	background-color: none;
	-webkit-tap-highlight-color: transparent;
}

a {
	outline: none;
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
ul,
ol {
	list-style: none;
}
