.Hero {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;

	.blocks {
		display: inline-block;
		width: 400px;
		height: 400px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.titleWrapper {
		max-width: 1000px;
		position: relative;
		margin: 0 auto;
		text-align: center;
	}

	.title {
		font-size: 50px;
		line-height: 1.3em;
		text-align: center;
		font-weight: 700;
		margin-bottom: 15px;
		font-family: var(--font-inter);
		text-transform: uppercase;

		& span {
			color: blue;
		}
	}

	.subtitle {
		text-align: center;
		font-weight: 300;
		font-size: 20px;
		max-width: 650px;
		margin: 0 auto;
	}

	.pulseLayer {
		position: absolute;
		inset: 0;
		pointer-events: none;
	}

	/* ---------------------ПРАВАЯ СХЕМА */

	.rightTree {
		position: absolute;
		top: 50%;
		right: -7%;
		transform: translateY(-50%);

		svg {
			display: block;
		}
	}

	/*  ПРАВЫЕ ЛОГОТИПЫ */
	.rightSideLogosWrapper {
		position: absolute;
		inset: 0;
		pointer-events: none;
	}

	.rightSideLogos {
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		box-shadow: 1px 1px 20px #ccc;
		z-index: 10;
		background-color: #fff;
		background: url('../../public/dell.png') no-repeat center/contain;

		&:nth-child(1) {
			top: 29%;
			right: 10%;
		}
		&:nth-child(2) {
			top: 41%;
			right: 2%;
		}
		&:nth-child(3) {
			bottom: 41%;
			right: 7%;
		}
		&:nth-child(4) {
			bottom: 28%;
			right: 3%;
		}
	}

	/* ---------------------ЛЕВАЯ СХЕМА */

	.leftTree {
		position: absolute;
		top: 50%;
		left: -7%;
		transform: translateY(-50%);

		svg {
			display: block;
		}
	}

	/*  ЛЕВЫЕ ЛОГОТИПЫ */
	.leftSideLogosWrapper {
		position: absolute;
		inset: 0;
		pointer-events: none;
	}

	.leftSideLogos {
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		box-shadow: 1px 1px 20px #ccc;
		z-index: 10;
		background-color: #fff;
		background: url('../../public/dell.png') no-repeat center/contain;

		&:nth-child(1) {
			top: 25%;
			left: 0%;
		}
		&:nth-child(2) {
			top: 34%;
			left: 7%;
		}
		&:nth-child(3) {
			top: 47%;
			left: 14%;
		}
		&:nth-child(4) {
			left: 4%;
			bottom: 35%;
		}
	}
}

.WhatWeDo {
	padding: 50px 0;
	text-align: center;

	h2 {
		font-size: 50px;
	}
	.list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
		gap: 40px; // расстояние между карточками
		margin-top: 40px;
	}

	.item {
		background: rgba(255, 255, 255, 0.03);
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 20px;
		padding: 30px;
		text-align: left;
	}
}

.Solutions {
	padding: 100px 0;
	text-align: center;

	h2 {
		font-size: 50px;
		line-height: 1.3em;
	}
}
.Details {
	padding: 100px 0;
	text-align: center;

	h2 {
		font-size: 50px;
		line-height: 1.3em;
	}
}
