.Header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #fff;
	z-index: 99;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 2px 6px rgba(0, 0, 0, 0.04),
		0 8px 16px rgba(0, 0, 0, 0.06), 0 16px 32px rgba(0, 0, 0, 0.08),
		0 32px 64px rgba(0, 0, 0, 0.1);

	.nav {
		gap: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logoWrapper {
		font-size: 30px;
		font-weight: 900;
	}

	.list {
		gap: 20px;
		display: flex;
		align-items: center;
	}

	.link {
		display: inline-block;
		padding: 20px;
		font-size: 22px;
	}
}
